
.recipeoftheday {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: .05rem;
    padding:1rem;
    gap:.5em;
    border-bottom: 2px solid rgb(183, 183, 183);
}
h4 {
    padding:.25rem;
}
.recipeofthedaycontent {
    display:flex;
    flex-direction: column;
    background-color: rgb(218, 219, 219);
    border: 2px solid rgb(218, 219, 219);
    text-align: center;
    font-size: 1.25em;
}
.recipeoftheday-img {
    width:20rem;
}
.recipeofthedaycontent:hover {
    opacity:70%;
    cursor: pointer;
}
.recipes {
  display: flex;
  flex-direction: column;
  gap:1em;
  padding:1em;
  border-bottom: 2px solid rgb(183, 183, 183);
}
.card {
    background-color: rgb(218, 219, 219);
   text-align: center;
   color:black;
   text-decoration: none;
}
.card-img {
    width:100%;
}
.recipes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:5rem;
    padding:1rem;
}
.contact {
    border-bottom: 2px solid rgb(183, 183, 183);
}
footer {
    text-align: center;
    padding:1em;
}
.card:hover {
    cursor: pointer;
    opacity: 75%;
}